tensorflow=1.15.0
opencv-python
Cython
opencv-python
pillow
numpy
matplotlib
fontTools
tenacity
easyDict
Flask
pyyaml==5.1
Werkzeug==0.15.5
numpy
matplotlib
gunicorn==19.9.0
setuptools>=32.1.0
six>=1.10.0
distance>=0.1.3
